body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}


h1 span {
    color: orange;

}

h2 {

    font-size: 40px;
}

.flex-container {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
}

.half-width img {
    width: 650px;
}

.link-button {
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(rgb(252, 4, 119), rgb(250, 61, 156));
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 500;

}

.banner {
    background-image: url(images/banner6.png);
    background-repeat: no-repeat;
}

p {
    color: dimgrey;
}

.nd {
    width: 50%;

}

.nd img {
    width: 650px;

}

.ps {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.showoff {
    color: orange;

}

.shadow {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;

}

#border-gradiant {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 239, 14), orange);
    border-image-slice: 1;
}

#border-gradiant-two {

    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
}

footer p {
    color: grey;
    text-align: center;
}

#last-area {
    font-size: 52px;
    padding-left: 7px;
}